@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 10px; 
    font-family: 'Roboto', sans-serif; 
}

body {
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section{
    width: 100%; 
    height: 100vh; 
    color: #fff;
    background: linear-gradient(-45deg, #FFC13D, #ECA39D, #668CFF, #18288D); 
    background-size: 400% 400%; 
    position: relative; 
    animation: animateBackground 10s ease-in-out infinite; 
    display: flex; 
    flex: center; 
}

h1 {
    font-size: 10rem; 
    text-transform: uppercase;
    letter-spacing: 10px; 
    border: 3px solid #fff; 
    position: absolute; 
    top: 43%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 5rem 8rem; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    margin: auto; 
    width: 100%;
    top: 55%; 
}

.btn {
    margin: 1em; 
    color: #fff !important; 
    border-radius: 0 !important; 
    background-color: transparent !important; 
    font-family: 'Roboto', sans-serif !important; 
}

.btn:hover {
    background-color: grey !important; 
    opacity: 25% !important; 
    color: #fff !important; 
}

@keyframes animateBackground {
    0% {
        background-position: 0 50%; 

    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0 50%; 
    }
}

/* about page style */ 
h2 {
    font-family: 'Roboto', sans-serif; 
    font-size: xx-large !important;  
    text-transform: uppercase; 
    letter-spacing: 10px; 
    position: relative; 
    padding: 3rem 8rem; 
    text-align: center;
    top: 30%; 
}

p {
    font-family: 'Roboto', sans-serif; 
    font-size: small; 
    position: relative; 
    text-align: center; 
    top: 35%; 
}

/* timeline page style */ 
.timeline-heading {
    font-family: 'Roboto', sans-serif; 
    font-size: xx-large !important;  
    text-transform: uppercase; 
    letter-spacing: 10px; 
    position: relative; 
    padding: 3rem 8rem; 
    text-align: center;
    top: 0; 
}

.container {
    width: 100%; 
    height: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: transparent; 
    font-family: 'Roboto', sans-serif; 
    padding: 30px 0; 
}

.timeline {
    width: 80%; 
    height: auto; 
    max-width: 800px; 
    margin: auto; 
    position: relative; 
}

.timeline ul {
    list-style: none; 
}

.timeline ul li {
    padding: 20px; 
    background-color: lightgray;
    color: black; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    opacity: 50%; 
}

.timeline ul li:last-child {
    margin-bottom: 0; 
}

.timeline-content h3 {
    font-size: 25px; 
    font-weight: 500; 
    line-height: 30px; 
    margin-bottom: 10px; 
}

.timeline-content h4 {
    font-size: 13px; 
    letter-spacing: 2px; 
}

.timeline-content p { 
    font-weight: 250; 
}

@media only screen and (min-width: 768px) {
    section{
        width: 100%; 
        height: 125vh; 
        color: #fff;
        background: linear-gradient(-45deg, #FFC13D, #ECA39D, #668CFF, #18288D); 
        background-size: 400% 400%; 
        position: relative; 
        animation: animateBackground 10s ease-in-out infinite; 
        display: flex; 
        flex: center; 
    }
   
    .timeline::before {
        content: ''; 
        position: absolute; 
        height: 100%; 
        width: 2px; 
        background-color:white; 
        left: 50%; 
        transform: translateX(-50%); 
        opacity: 50%; 
        
    }

    .timeline ul li {
        width: 50%; 
        margin-bottom: 50px; 
        position: relative; 
    }

    .timeline ul li:nth-child(odd) {
        float: left; 
        clear: right; 
        transform: translateX(-30px); 
        border-radius: 20px 0px 20px 20px; 
    }

    .timeline ul li:nth-child(even) {
        float: right; 
        clear: left; 
        transform: translateX(30px); 
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::after { 
        content: ''; 
        position: absolute; 
        height: 20px; 
        width: 20px; 
        background-color: white;  
        border-radius: 50%; 
        top: 0; 
    }

    .timeline ul li:nth-child(odd)::after {
        right: -30px; 
        transform: translate(50%, -50%); 
    }

    .timeline ul li:nth-child(even)::after {
        left: -30px; 
        transform: translate(-50%, -50%); 
    }

    .timeline ul li:hover:after { 
        background-color: black;
        opacity: 50%; 
    }
}

/*.container .title { 
    font-weight: bold;  
    text-transform: uppercase; 
    font-size: large; 
}

.container {
    margin: 40px 40px; 

}

.container ul {
    list-style: none !important; 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif; 
    font-size: medium; 
    position: relative; 
}

.container ul:before {
    content: '  '; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 2px; 
    height: 100%; 
    border: 1px dashed #eee; 
}

.container ul li {
    margin: 30px 50px; 
    position: relative; 

}

.container ul li:before {
    content: '  '; 
    position: absolute; 
    top: 0; 
    left: -60px; 
    width: 2px; 
    height: 100%; 
    border: 1px solid #eee; 
}*/





